
.top-btn{
    padding: 20px;
    display: flex;
    justify-content: space-between;  
}

.logo{
    margin: -20px 50px 2px 50px ;
}

body{
    font-family: sans-serif;
}

.red-btn{
    border-radius: 6px;
    padding: 12px;
    text-align: center; 
    background-color: red;
    font-size: 15px bold;    
}

.top-btn2{
    margin-left: 910px;
    background-color: red;
    height: 8px;
    width: 50px;    
}

.container{
    background-color: rgba(0, 0, 0, 0.792); 
    padding: 50px;
    background-size: cover; 
    border-radius: 15px;
    margin-top: 250px; 

}

.text-box{
   
    text-align: center; 
    color:white;
    margin-top: 110px;
}

::placeholder{
   opacity: 1; /*holde*/
   color: rgb(154, 154, 154);
   /* text-indent: 7px; */
}

.form{
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 20px 20px 12px;
    height: 14px;
    width: 280px;
    background-color: rgba(0, 0, 0, 0.737);
    margin-right: 10px;
    outline: solid 1px #777777;
}

.form2{
    text-decoration: none;
    border: none solid;
    border-radius: 5px;
    padding: 13px;
    background-color: red;
    color: white;
   text-align: center;
   justify-content: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 150px;
}

.get-started{
    text-align: center;
}

.form-btn{
    border: none solid;
    border-radius: 15px;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
}

.resize{
    border: none solid;
    border-radius: 15px;
    height: 220px ;
    width: 150px;
    margin-left: 40px;  
}

.div-box{
    border: none solid;
    border-radius: 15px;
    padding-bottom: 10px;
    display: flex;
    overflow-x: scroll;
    margin: 50px;
    background-color: black;
}

.div-scroller {
    height: 250px;
    overflow-x: scroll;
    scrollbar-color: red rgba(0, 128, 0, 0) ;
  }

.box{
    border: none solid;
    border-radius: 20px;
    padding: 20px;
   background-color:rgba(128, 112, 216, 0.395);
   height: 200px;
   width: 800px;
   margin-left: 20px; 
}

.Reasons{
    color: white;
}
.Reasons2{
    color: rgba(255, 255, 255, 0.799);

}

.last-box{
    border: none solid;
   border-radius: 10px;
   padding-bottom: 10px;
   display: flex;
   overflow: auto;
   padding-left: 30px;
   
   margin: auto;
   background-color: black;  
}

.div-box2{
    display: flex;
    text-align: center;
    margin: auto;
}



.box3{
    border: none solid;
    border-radius: 5px;
    padding: 20px;
    height: 550px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.854);
    margin: auto;
    color: white;  
}

.text-box2{

    border: none solid;
    border-radius: 8px;
    height: 60px;
    width: 280px;
    background: transparent;
    text-indent: 15px;  
} 

.sign-in2{
    border: none solid;
    border-radius: 8px;
    height: 40px;
    width: 280px;
    background: transparent;
    background-color: rgba(255, 255, 255, 0.247);
    text-align: center;
   font-size: 18px;
    
}

.icon{
    height: 80px;
    width: 70px;
   
    
}

.sign-in{
    border: none solid;
    border-radius: 8px;
    height: 40px;
    width: 280px;
    background: transparent;
    background-color: red;
    text-align: center;
}

::placeholder{
    color: rgb(255, 255, 255);
}


.or{
    margin-left: 130px;
    color: rgba(255, 255, 255, 0.721);
    font-size: 1rem;
    font-weight: 500;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;  
} 








